<div class="container">
  <h1>注文履歴</h1>
  <% @orders.each do |order| %>
    <div class="card mb-4">
      <div class="card-header">
        注文番号: <%= order.id %>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 50%;">商品名</th>
                <th>数量</th>
                <th>価格</th>
              </tr>
            </thead>
            <tbody>
              <% @order_details = OrderDetail.where(order_id: order.id) %>
              <% @order_details.each do |order_detail| %>
                <tr>
                  <td><%= order_detail.item.name %></td>
                  <td><%= order_detail.quantity %></td>
                  <td><%= number_to_currency(order_detail.price) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
